.parentPane {
    -fx-min-width: 800;
    -fx-min-height: 600;
}

.logoImageViewFlowPane {
    -fx-alignment: center;
}

.tileFlowPane {
    -fx-alignment: center;
}

.button {
    -fx-pref-width: 200;
    -fx-background-radius: 100;
    -fx-padding: 20;
    -fx-alignment: center;
}
